[Unit]
Description=Home Brain main service
PartOf=hb.target
Requires=mosquitto.service mnt-data.mount dlt_daemon.service
After=mosquitto.service mnt-data.mount dlt_daemon.service

[Service]
Type=simple
ExecStart=/opt/bin/HomeBrain -c /opt/etc/HBconfig_target.conf -d 4 -s 1
Restart=always
RestartSec=1

[Install]
WantedBy=hb.target
