[Unit]
Description=mqtt gateway service
PartOf=hb.target
Requires=mosquitto.service mnt-data.mount homebrain.service dlt_daemon.service
After=mosquitto.service mnt-data.mount homebrain.service dlt_daemon.service

[Service]
Type=simple
ExecStart=/opt/bin/mqttgtw -c /opt/etc/gtw_config_target.json -t /mnt/data/project/gtw_table_gen.json -d 4 -s 1

[Install]
WantedBy=hb.target
